body{
    background-color: #191c1c;
    color: white;
    font-family: "Helvetica", sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8px 5%;
    gap: 1.5em;
}

nav a{
    color: white;
    text-decoration: none;
}

#brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

#brand img{
    width: 50px;
    height: 50px;
}

#brand:hover{
    cursor: pointer;
}

#links {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 18px;
}

#links a:hover{
    text-decoration: underline white 2px;
    cursor:pointer;
}

#hero{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    gap: 2em;
    margin-left: 25%;
    margin-right: 25%;
}
#hero a{
    color: white;
    text-decoration: none;
}

#hero a:hover{
    text-decoration: underline white 2px;
    cursor: pointer;
}

#post{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 10px 10px #0F1010;
}

#post:hover{
    box-shadow:0px 0px black;
    cursor: pointer;
}

#post h3{
    margin: 0;
}

#post p {
    margin: 0;
}

#post a{
    margin: 0;
}

#posts{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    gap: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
}

#posts a{
    color: white;
    text-decoration: none;
}

#posts a:hover{
    text-decoration: underline white 2px;
    cursor: pointer;
}

#posts p{
    text-align: left;
    margin: 0;
}

#posts pre{
    text-align: left;
    padding: 8px;
}

#posts h1{
    align-self: start;
}

#posts h2{
    align-self: start;
}

#posts h3{
    align-self: start;
}

#posts h1:after{
    content: ' ';
    display: block;
    border: 2px solid burlywood;
}

#posts h2:after{
    content: ' ';
    display: block;
    border: 2px solid burlywood;
}

#posts h3:after{
    content: ' ';
    display: block;
    border: 2px solid burlywood;
}

#posts img{
    width: 500px;
    height: 315px;
}

#back{
    font-size: 18px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

#header img{
    width: 100px;
    height: 100px;
}

#header h2:after{
    content:' ';
    display:block;
    border: 2px solid burlywood;
}

#projects{
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(2, minmax(40%,1fr));
}

#projects div{
    min-width: 45%;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px #0F1010;
}

#projects div:hover{
    box-shadow:0px 0px black;
    cursor: pointer;
}

#projects div h2:after{
    content: ' ';
    display: block;
    border: 2px solid burlywood;
}

#projects div img{
    width: 300px;
    height: 180px;
}

.left{
    align-self: start;
}

.hr:after{
    content: ' ';
    display: block;
    border: 2px solid burlywood;
}

#web{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: start;
}

#web button{
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

#web button:hover{
    cursor: pointer;
    background-color: #111111;
}

#web button:active{
    background-color: #101000;
}

#anim canvas{
    max-height: 200px;
}

@media only screen and (max-width: 900px){
    nav a{
        color: white;
    }
    #hero{
        display: flex;
        flex-direction: column;
        padding-top: 5em;
        gap: 1em;
        margin-left: 5%;
        margin-right: 5%;
    }
    #projects div{
        max-width: 100%;
    }

    #posts{
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
    }
    #projects{
        gap: 1em;
        grid-template-columns: minmax(40%,1fr);
    }
}
