body{
    background-color: #191c1c;
    color: white;
    font-family: "Helvetica", sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #0F1010;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8px 5%;
    gap: 1.5em;
}

#brand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}

#brand img{
    width: 50px;
    height: 50px;
}

#brand:hover{
    cursor: pointer;
}

#links {
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 18px;
}

#links a:hover{
    text-decoration: underline white 2px;
    cursor:pointer;
}

#hero{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    gap: 2em;
    margin-left: 25%;
    margin-right: 25%;
}
#hero a{
    color: white;
    text-decoration: none;
}

#hero a:hover{
    text-decoration: underline white 2px;
    cursor: pointer;
}

#hero div{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0.5em;
    box-shadow: 10px 10px #0F1010;
}

#hero div:hover{
    box-shadow:0px 0px black;
    cursor: pointer;
}

#hero div h3{
    margin: 0;
}

#hero div p {
    margin: 0;
}

#hero div a{
    margin: 0;
}

#hero div button{
    align-self: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 18px;
}

#hero div button:hover{
    background-color: #191e1e;
}

#hero div button:action{
    background-color: #101010;
}

#posts{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    gap: 2em;
    margin-left: 25%;
    margin-right: 25%;
}

#posts a{
    color: white;
    text-decoration: none;
}

#posts a:hover{
    text-decoration: underline white 2px;
    cursor: pointer;
}

#posts p{
    text-align: left;
}

#posts pre{
    text-align: left;
    padding: 8px;
}

#back{
    font-size: 18px;
}
