<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1"><title>Youshitsune</title>
        <meta property="og:title" content="Youshitsune">
        <meta property="og:type" content="website">


        <meta property="og:image" content="/img/avatar.png">

        <link rel="me" href="https://tilde.town/@youshitsune">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/img/avatar.png" alt="" width="30" height="30">  Youshitsune</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#posts">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="ctx">
<h1>Bernstein-Vazirani Algorithm Implementation in Qiskit</h1><p>It is a restricted version of the Deutsch-Jozsa algorithm where instead of distinguishing between two different classes of functions, it tries to learn a string encoded in a function.</p>

<p>Here is implementation for Bernstein-Vaziarini algorithm:</p>

<div class="codehilite">
<pre><span></span><code><span class="kn">from</span> <span class="nn">qiskit</span> <span class="kn">import</span> <span class="o">*</span>
<span class="o">%</span><span class="n">matplotlib</span> <span class="n">inline</span>
<span class="kn">from</span> <span class="nn">qiskit.tools.visualization</span> <span class="kn">import</span> <span class="n">plot_histogram</span>
</code></pre>
</div>

<div class="codehilite">
<pre><span></span><code><span class="n">num</span> <span class="o">=</span> <span class="s1">&#39;101001&#39;</span>
<span class="n">circuit</span> <span class="o">=</span> <span class="n">QuantumCircuit</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">)</span><span class="o">+</span><span class="mi">1</span><span class="p">,</span> <span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">))</span>
<span class="n">circuit</span><span class="o">.</span><span class="n">h</span><span class="p">(</span><span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">)))</span>
<span class="n">circuit</span><span class="o">.</span><span class="n">x</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">))</span>
<span class="n">circuit</span><span class="o">.</span><span class="n">h</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">))</span>
<span class="n">circuit</span><span class="o">.</span><span class="n">barrier</span><span class="p">()</span>
</code></pre>
</div>

<pre><code>&lt;qiskit.circuit.instructionset.InstructionSet at 0x6370a60b4e80&gt;
</code></pre>

<div class="codehilite">
<pre><span></span><code><span class="k">for</span> <span class="n">i</span><span class="p">,</span> <span class="n">val</span> <span class="ow">in</span> <span class="nb">enumerate</span><span class="p">(</span><span class="nb">reversed</span><span class="p">(</span><span class="n">num</span><span class="p">)):</span>
    <span class="k">if</span> <span class="n">val</span> <span class="o">==</span> <span class="s2">&quot;1&quot;</span><span class="p">:</span>
        <span class="n">circuit</span><span class="o">.</span><span class="n">cx</span><span class="p">(</span><span class="n">i</span><span class="p">,</span><span class="mi">6</span><span class="p">)</span>
</code></pre>
</div>

<div class="codehilite">
<pre><span></span><code><span class="n">circuit</span><span class="o">.</span><span class="n">barrier</span><span class="p">()</span>
<span class="n">circuit</span><span class="o">.</span><span class="n">h</span><span class="p">(</span><span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">)))</span>
</code></pre>
</div>

<pre><code>&lt;qiskit.circuit.instructionset.InstructionSet at 0x6370a60b4e20&gt;
</code></pre>

<div class="codehilite">
<pre><span></span><code><span class="n">circuit</span><span class="o">.</span><span class="n">measure</span><span class="p">(</span><span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">)),</span> <span class="nb">range</span><span class="p">(</span><span class="nb">len</span><span class="p">(</span><span class="n">num</span><span class="p">)))</span>
</code></pre>
</div>

<pre><code>&lt;qiskit.circuit.instructionset.InstructionSet at 0x6370e006d5a0&gt;
</code></pre>

<div class="codehilite">
<pre><span></span><code><span class="n">circuit</span><span class="o">.</span><span class="n">draw</span><span class="p">(</span><span class="n">output</span><span class="o">=</span><span class="s1">&#39;mpl&#39;</span><span class="p">)</span>
</code></pre>
</div>

<p><img src="/images/output_5_0.png" alt="png" /></p>

<div class="codehilite">
<pre><span></span><code><span class="n">sim</span> <span class="o">=</span> <span class="n">Aer</span><span class="o">.</span><span class="n">get_backend</span><span class="p">(</span><span class="s1">&#39;qasm_simulator&#39;</span><span class="p">)</span>
<span class="n">result</span> <span class="o">=</span> <span class="n">execute</span><span class="p">(</span><span class="n">circuit</span><span class="p">,</span> <span class="n">sim</span><span class="p">,</span> <span class="n">shots</span> <span class="o">=</span> <span class="mi">1</span><span class="p">)</span><span class="o">.</span><span class="n">result</span><span class="p">()</span>
<span class="n">counts</span> <span class="o">=</span> <span class="n">result</span><span class="o">.</span><span class="n">get_counts</span><span class="p">()</span>
<span class="nb">print</span><span class="p">(</span><span class="n">counts</span><span class="p">)</span>
</code></pre>
</div>

<pre><code>{'101001': 1}
</code></pre>

        </div>
    </body>
    <script defer src="/js/bootstrap.min.js"></script>
    <script defer src="/js/popper.min.js"></script>
</html>
