<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1"><title>Youshitsune</title>
        <meta property="og:title" content="Youshitsune">
        <meta property="og:type" content="website">


        <meta property="og:image" content="/img/avatar.png">

        <link rel="me" href="https://tilde.town/@youshitsune">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/img/avatar.png" alt="" width="30" height="30">  Youshitsune</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#posts">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="ctx">
<h1>Flashing Lineage OS 20 on my Samsung Galaxy A50</h1><p>I always wanted to flash custom rom on my phone, but there isn't any offical software for it.</p>

<p>So, I started to search for best unoffical options.</p>

<p>I've found Lineage OS 20 and TWRP.</p>

<h3>First try</h3>

<p>When, I first tried I used heimdall. And soft-bricked my phone.</p>

<h3>Second try</h3>

<p>Then, I found leaked version of odin for linux. I've flashed everything, and then lineage os was stuck at boot.</p>

<h3>Third try</h3>

<p>Oh, I forgot to flash multidisable, when I flashed it and it worked perfectly.</p>

<p>I'm very excited that I finally completed my wish of using custom room.</p>

<p>If anyone is flashing for same device, message me if you want files for flashing.</p>

        </div>
    </body>
    <script defer src="/js/bootstrap.min.js"></script>
    <script defer src="/js/popper.min.js"></script>
</html>
