<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1"><title>Youshitsune</title>
        <meta property="og:title" content="Youshitsune">
        <meta property="og:type" content="website">


        <meta property="og:image" content="/img/avatar.png">

        <link rel="me" href="https://tilde.town/@youshitsune">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/img/avatar.png" alt="" width="30" height="30">  Youshitsune</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#posts">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="ctx">
<h1>Hosting Librex</h1><h2>What is LibreX?</h2>

<p>LibreX is meta-search engine which gives you results from Google, Qwant, Ahmia and popular torrent sites without spying on you.
LibreX doesn't save any type of data about the user, there are no logs, no caches.</p>

<h2>How to host LibreX in Docker container?</h2>

<p>To host librex in a Docker container, just use this command:</p>

<div class="codehilite">
<pre><span></span><code>docker<span class="w"> </span>run<span class="w"> </span>-d<span class="w"> </span>--name<span class="w"> </span>librex<span class="w"> </span><span class="se">\</span>
<span class="w">    </span>-e<span class="w"> </span><span class="nv">TZ</span><span class="o">=</span><span class="s2">&quot;America/New_York&quot;</span><span class="w"> </span><span class="se">\</span>
<span class="w">    </span>-e<span class="w"> </span><span class="nv">CONFIG_GOOGLE_DOMAIN</span><span class="o">=</span><span class="s2">&quot;com&quot;</span><span class="w"> </span><span class="se">\</span>
<span class="w">    </span>-e<span class="w"> </span><span class="nv">CONFIG_GOOGLE_LANGUAGE</span><span class="o">=</span><span class="s2">&quot;en&quot;</span><span class="w"> </span><span class="se">\</span>
<span class="w">    </span>-p<span class="w"> </span><span class="m">8080</span>:8080<span class="w"> </span><span class="se">\</span>
<span class="w">    </span>librex/librex:latest
</code></pre>
</div>

<h2>How to host LibreX with Docker compose?</h2>

<p>This is your <strong>docker-compose.yml</strong></p>

<div class="codehilite">
<pre><span></span><code><span class="nt">version</span><span class="p">:</span><span class="w"> </span><span class="s">&quot;2.1&quot;</span>
<span class="nt">services</span><span class="p">:</span>
<span class="w">  </span><span class="nt">librex</span><span class="p">:</span>
<span class="w">    </span><span class="nt">image</span><span class="p">:</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">librex/librex:latest</span>
<span class="w">    </span><span class="nt">container_name</span><span class="p">:</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">librex</span>
<span class="w">    </span><span class="nt">network_mode</span><span class="p">:</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">bridge</span>
<span class="w">    </span><span class="nt">ports</span><span class="p">:</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">8080:8080</span>
<span class="w">    </span><span class="nt">environment</span><span class="p">:</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">PUID=1000</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">PGID=1000</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">VERSION=docker</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">TZ=&quot;America/New_York&quot;</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">CONFIG_GOOGLE_DOMAIN=&quot;com&quot;</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">CONFIG_GOOGLE_LANGUAGE=&quot;en&quot;</span>
<span class="w">    </span><span class="nt">volumes</span><span class="p">:</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">./nginx_logs:/var/log/nginx</span>
<span class="w">      </span><span class="p p-Indicator">-</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">./php_logs:/var/log/php7</span>
<span class="w">    </span><span class="nt">restart</span><span class="p">:</span><span class="w"> </span><span class="l l-Scalar l-Scalar-Plain">unless-stopped</span>
</code></pre>
</div>

        </div>
    </body>
    <script defer src="/js/bootstrap.min.js"></script>
    <script defer src="/js/popper.min.js"></script>
</html>
