{{define "posts"}}
<h2 style="text-align: center; padding: 1em;">My Posts</h2>
<div id="blog">
    <div id="item">
        <h5>Flashing Lineage OS 20 on my Samsung Galaxy A50</h5>
        <p>2023/07/21</p>
        <a class="btn btn-outline-danger" href="/posts/flashing-lineage.html">Read</a>
    </div>
    <div id="item">
        <h5>Setup SSH Over TOR</h5>
        <p>2023/07/02</p>
        <a class="btn btn-outline-danger" href="/posts/ssh-tor.html">Read</a>
    </div>
    <div id="item">
        <h5>Local Reality and the CHSH Inequality</h5>
        <p>2023/06/26</p>
        <a class="btn btn-outline-danger" href="/posts/chsh-inequality.html">Read</a>
    </div>
    <div id="item">
        <h5>Bernstein-Vazirani Algorithm Implementation in Qiskit</h5>
        <p>2023/06/20</p>
        <a class="btn btn-outline-danger" href="/posts/bernstein-vazirani.html">Read</a>
    </div>
    <div id="item">
        <h5>Hosting Librex</h5>
        <p>2023/06/20</p>
        <a class="btn btn-outline-danger" href="/posts/hosting-librex.html">Read</a>
    </div>

    <div id="item">
        <h5>Going Step Closer to Full Suckless</h5>
        <p>2023/06/15</p>
        <a class="btn btn-outline-danger" href="/posts/closer-suckless.html">Read</a>
    </div>
    <div id="item">
        <h5>Created New Service - RADIANA</h5>
        <p>2023/06/06</p>
        <a class="btn btn-outline-danger" href="/posts/radiana.html">Read</a>
    </div>
    <div id="item">
        <h5>Configuring Weechat Proxy to Use Tor</h5>
        <p>2023/05/22</p>
        <a class="btn btn-outline-danger" href="/posts/weechat-tor.html">Read</a>
    </div>

    <div id="item">
        <h5>My New Look on How to Be Productive</h5>
        <p>2023/05/17</p>
        <a class="btn btn-outline-danger" href="/posts/look-productivity.html">Read</a>
    </div>
    <div id="item">
        <h5>Started My Journey on Envs.net</h5>
        <p>2023/04/13</p>
        <a class="btn btn-outline-danger" href="/posts/envs-journey.html">Read</a>
    </div>
    <div id="item">
        <h5>I've Set Up My Gemini Capsule</h5>
        <p>2023/04/09</p>
        <a class="btn btn-outline-danger" href="/posts/gemini-capsule-setup.html">Read</a>
    </div>
    <div id="item">
        <h5>Could We Really Be Made of Swiss Cheese?</h5>
        <p>2023/03/13</p>
        <a class="btn btn-outline-danger" href="/posts/swiss-chese-xenobiology.html">Read</a>
    </div>
    <div id="item">
        <h5>Attention is all you need</h5>
        <p>2023/02/19</p>
        <a class="btn btn-outline-danger" href="/posts/attention-is-all-you-need.html">Read</a>
    </div>
    <div id="item">
        <h5>Dark Matter As A Possible New Energy Source</h5>
        <p>2023/02/18</p>
        <a class="btn btn-outline-danger" href="/posts/dark-matter-as-energy-source.html">Read</a>
    </div>

</div>
{{end}}
