<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1"><title>Youshitsune</title>
        <meta property="og:title" content="Youshitsune">
        <meta property="og:type" content="website">


        <meta property="og:image" content="/img/avatar.png">

        <link rel="me" href="https://tilde.town/@youshitsune">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/img/avatar.png" alt="" width="30" height="30">  Youshitsune</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#posts">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="ctx">
<h1>Could We Really Be Made of Swiss Cheese?</h1><p>"Could we really be made of Swiss cheese?" is paper that explains xenobiology. It's really great introduction to xenobiology. I  recommend to read it. <a href="/pdf/Could_we_really_be_made_of_swiss_cheese.pdf">PDF</a></p>

<p>Xenobiology studies life with alternate way to get energy.
- Information =&gt; DNA -> Protein
- Form =&gt; Life as series of innate patterns
- Metabolism &lt;-> Information =&gt; Life as process of  chemical transformation of substances
- Information &lt;-> Form =&gt; Life as flow of information
- Energy&lt;-> Form =&gt; Life as energy flow
- Metabolism &lt;-> Energy =&gt; Life as thermodynamic and kinetic process</p>

<p>Xenobiology can provide potential medical and biosafety applications, as well as challenge the foundations of biological engineering. This paper reviews the philosophical aspect of xenobiology, focusing on the possible multiple realizability of life.</p>

<p>Synthetic philosophical theories aim to design systems with natural functions, rather than biological functions, to test chemistry and understand life.</p>

        </div>
    </body>
    <script defer src="/js/bootstrap.min.js"></script>
    <script defer src="/js/popper.min.js"></script>
</html>
